@import 'tailwindcss';

@theme {
  --color-aeromexico: #000441;
}

@media print {
  @page {
    margin: 1.5cm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
